h1{
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 40px;
  color: #C5C5C5;
  text-shadow: 2px 2px 0 #000, 4px 4px 0 #000;
  font-size: 60px;

}

hr{
  opacity: 0.5;
  color: black;
}

.container {
  margin: 60px auto;
  display: flex;
  flex-direction: row-reverse;
}

.image-container {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-right: 350px;
  margin-top: 50px ;

}

.image {
  width: 500px;
  height: 600px;
  border-radius: 7px;
  object-fit: cover;
}

.text-container {
  font-size: 24px;
  width: 50%;
  margin-bottom: 100px;
  margin-right: 50px;
}

.audio-link{
  color: #0056b3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 2sec, ease-in-out;
}

.audio-link:hover{
  color: #525353;
}



h2{
  font-size: 36px;
    color: #BBB3A8;
    /* white text color */
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #000;
    /* shadow effect */
}

h3{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #C9C9C9;
  text-align: center;
  margin-top: 30px;
  font-size: 36px;
  text-shadow: 2px 2px 0 #000, 4px 4px 0 #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.message-container
 {
  border: 2px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: calc(25% - 20px);
  text-align: center;
  color: black;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container
 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.message-container p {
  font-size: 14px;
  line-height: 1.5;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.5s;
}

.message-container p.expanded {
  max-height: 1000px;
  /* Set a high value to allow for expansion */
}

.read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #525353;
  text-decoration: none;
}

.read-more:hover {
  color: #0056b3;
}

.message-container
 img {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  /* Ensure image is square */
}

.message-container
 img:hover {
  transform: scale(1.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h4{
  color: #C5C5C5;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 0 #980D2F, 4px 4px 0 #980D2F;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.video-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.video-item {
  width: 50%;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.video-item video {
  border-radius: 10px;
  height: 600px;
  width: 600px;
}

h5{
  color: #AC63F7;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 0 #DAD4FC, 4px 4px 0 #DAD4FC;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h6{
  color: white;
    font-size: 34px;
    text-shadow: 2px 2px 0 #DE9167, 4px 4px 0 #DE9167;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
